.quiz-container {

    // padding: 15px;
    .accordion {
        padding: 5px 25px;
    }

    .title {
        font-size: 25px;
        font-weight: 600;
        padding: 5px 10px;
    }

    .add-new {

        legend {
            font-size: 13px;
        }
    }

    .list-detail {
        padding: 5px 25px 50px 25px;
    }
}