.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;

    .left-content {
        width: 70%;
        border: 1px solid red;
        padding: 10px;

        .title {
            font-size: 30px;
            font-weight: 800;
        }

        // .q-body {}
        .q-image {
            width: 300px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .q-content {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

            .question {
                font-size: 20px;
                font-weight: 600;
            }


        }

        .footer {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
    }

    .right-content {
        width: 30%;
        border: 1px solid green;
        border-radius: 5px;
        padding: 20px;

        .main-timer {
            border-bottom: 1px dashed;
            padding-bottom: 20px;
            text-align: center;
            font-weight: 600;
            padding-top: 10px;
            font-size: 20px;
        }

        .main-question {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            .question {
                border: 2px solid rgba(32, 30, 32, 0.133);
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 50px;

                &:hover {
                    border-color: rgba(255, 0, 0, 0.633);
                    color: red;
                }

                &.answered {
                    background-color: #c6c6c6;
                }

                &.selected {
                    color: red;
                }
            }
        }
    }
}